/* style for index.hbs */
body {background: aliceblue;}
#houseList li{
    display: inline-block;
    margin: 1rem 2rem;
    text-align: center;
}

.center {
    text-align: center;
}

.house svg {
    filter: drop-shadow( -1px -1px 1px rgba(0,0,0,.5));
}