<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="img/cointoss.png"/>
    <link rel="stylesheet" href="style.css">
    <title>Login</title>
</head>
<body>
    <div class="headerBar">
        <h1 class="center">Login</h1>
    </div>
    <div class="container">

        <div id="assetBreakdown" class="padTop">
            <form id="login">
                <div>
                    <label>
                        Username
                        <input type="text" placeholder="username" id="username">
                    </label>
                </div>
                <div>
                    <label>
                        Password
                        <input type="password" placeholder="password" id="password">
                    </label>
                </div>
                <input type="submit" value="Sign In" id="signin" />
            </form>
            <div>Test account: demo / demo</div>
        </div>
        
    </div>
    <nav>
        <a class="button active" href="/overview">Overview</a>
        <a class="button" href="/portfolio">Portfolio</a>
        <a class="button" href="/stats">Stats</a>
        <a class="button" href="/historical">Historical</a>
    </nav>
    <script src="js/login.js"></script>
    <script>
        

    </script>
</body>
</html>
